.loggedActions {
    display: flex;
    align-items: center;
}

.loggedActions > * {
    margin-right: 10px;
    cursor: pointer
} 

.loggedActions__menuitem {
    background: #fefefe;
}

.loggedActions__menuitemicon {
    margin-right: 5px;
}

.loggedActions__menuitem:last-of-type {
    border-top: 1px solid lightgray;
}

.MuiSvgIcon-fontSizeLarge {
    font-size: 2.5rem;
}

.loggedActions__avatar {
    text-transform: uppercase;
}