.header {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header__image {
    object-fit: contain;
}
