.postlist {
    padding: 15px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.postlist__nopost {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}